
body {
  background-color: #1d1e25;
  color:white;
  font-size: 20px;
  font-family: 'Space Grotesk-light';
  letter-spacing: 1px;
}

.title {
  text-align: left !important;
  margin-top: 40px;
  font-size: 40px;
  font-family: 'Space Grotesk-bold'
}

a {
  text-decoration: none;
}

p {
    text-align: justify;
}

#buttons .col-12{
    text-align: center;

}

.resume, .resume a {
  border-radius: 2em;
  text-align: center;
  border: 1px solid #b5b7c5;
  text-decoration: none;
  background-color: #b5b7c5;
  color: #b5b7c5;
  background-color:  rgba(29, 30, 37, 0.7);
  padding: 8px 20px 8px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.resume:hover {
  cursor:pointer;
  text-decoration: none;
  color:#1d1e25;
  background-color:  rgba(255, 255, 255, 0.6);
}

#boton-email:hover {
  cursor:pointer;
  text-decoration: none;
  color:#1d1e25;
  background-color:  rgba(255, 255, 255, 0.6);
}

#boton-behance:hover {
  cursor:pointer;
  text-decoration: none;
  color:#1d1e25;
  background-color:  rgba(255, 255, 255, 0.6);
}

#boton-linkedin:hover {
  cursor:pointer;
  text-decoration: none;
  color:#1d1e25;
  background-color:  rgba(255, 255, 255, 0.6);
}

#boton-email {
    border-radius: 2em;
    background: transparent;
    border: 1px solid #b5b7c5;
    color: #b5b7c5;
    font-family: 'Lato';
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 20px 8px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#boton-behance {
  border-radius: 2em;
  background: transparent;
  border: 1px solid #b5b7c5;
  color: #b5b7c5;
  font-family: 'Lato';
  font-size: 14px;
  letter-spacing: 2px;
  padding: 8px 20px 8px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#boton-behance {
    border-radius: 2em;
    background: transparent;
    border: 1px solid #b5b7c5;
    color: #b5b7c5;
    font-family: 'Lato';
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 20px 8px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: -13px;
    margin-bottom: 10px;
}

#wave {
    z-index: -1;
    padding-top: 25vh;
    position: absolute;
}

#boton-linkedin {
    border-radius: 2em;
    background: transparent;
    border: 1px solid #b5b7c5;
    color: #b5b7c5;
    font-family: 'Lato';
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 20px 8px;
    margin-top: 10px;
    margin-bottom: 10px;  
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2F2F31;
}

::-webkit-scrollbar-thumb {
  background: #2F2F31;
}

::-webkit-scrollbar-thumb:hover {
  background: #2F2F31;
}