
body {
    border-top:white 0.2em solid;
    background-color: #1d1e25;
    color:white;
    font-size: 20px;
    font-family: 'Space Grotesk-light';
    letter-spacing: 1px;
}
a{
  text-decoration: none;
}
.title{
  text-align: left !important;
}
p{
    text-align: justify;
}
#buttons .col-12{
    text-align: center;

}
.resume, .resume a{
  border-radius: 2em;
  text-align: center;
  padding:0.2em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-decoration: none;
  background-color: white;
  color: white;
  background-color:  rgba(29, 30, 37, 0.7);
}
.resume:hover{
  cursor:pointer;

  text-decoration: none;
  color:#1d1e25;
  background-color:  rgba(255, 255, 255, 0.6);
}
.linetype{
    font-size: 2em;
    font-family: 'Cinzel Decorative', cursive;
    text-align: justify;
}

#boton-email {
    border-radius: 2em;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Space Grotesk';
    padding: 0.5em;
    margin: 0.4em;
}

#boton-behance {
    border-radius: 2em;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Space Grotesk';
    padding: 0.5em;
    margin: 0.4em;
}
#wave{
    z-index: -1;
    padding-top: 35vh;
    position: absolute;
}
#boton-linkedin {
    border-radius: 2em;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Space Grotesk';
    padding: 0.5em;
    margin: 0.4em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2F2F31;
}

::-webkit-scrollbar-thumb {
  background: #2F2F31;
}

::-webkit-scrollbar-thumb:hover {
  background: #2F2F31;
}