
body {
  font-family: 'Plus Jakarta Sans', sans-serif;

background: #DAD299;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.img {
  width: 90px;
  border-radius: 50%;
  margin: 0px 0px 30px 0px;
}

.title {
  text-align: center !important;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.459375rem;
}

a {
  text-decoration: none;
}

.description {
  color: black;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.021875rem;
  margin: 0px 0px 30px 0px;
}

p {
  margin: 15px 0px 15px 0px;  
}

button {
  border-radius: 2em;
  background: transparent;
  border: 1px solid black;
  color: black;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.021875rem;
  padding: 8px 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button:hover {
  cursor:pointer;
  text-decoration: none;
  color: whitesmoke;
  background-color: black;
}